<!-- ================= BRIDE ================= -->
<section
  class="hero-section bride-section"
  [ngStyle]="{'background-image': 'url(' + getBridePhoto() + ')'}"
>

  <div class="overlay"></div>
  <div class="gold-glow"></div>

  <div class="hero-card">
    <div class="ornament-top"></div>

    <h1 class="name">
      {{ getBrideName() }}
    </h1>

    <p class="child-text">
      Putri pertama dari
    </p>

    <p class="parents">
      {{ getBrideParents() }}
    </p>


    <div class="ornament-bottom"></div>
  </div>

</section>


<!-- ================= GROOM ================= -->
<section
  class="hero-section groom-section"
  [ngStyle]="{'background-image': 'url(' + getGroomPhoto() + ')'}"
>

  <div class="overlay"></div>
  <div class="gold-glow"></div>

  <div class="hero-card">
    <div class="ornament-top"></div>

    <h1 class="name">
      {{ getGroomName() }}
    </h1>

    <p class="child-text">
      Putra pertama dari
    </p>

    <p class="parents">
      {{ getGroomParents() }}
    </p>



    <div class="ornament-bottom"></div>
  </div>

</section>
