<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="footer-logo">
                        <a href=""><img src="/assets/wom.png" class="img-fluid" style="width: auto; height: auto;" alt="logo"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="footer-widget" style="padding-right: 6rem;">

                <div class="footer-text">
                    <p>Sena INVITATIONS adalah layanan undangan pernikahan online. Yaitu undangan yang dikemas dalam bentuk web yang praktis dan mudah untuk digunakan maupun dibagikan.</p>
                </div>
                <div class="footer-social-icon">
                    <span>Follow us</span>
                </div>
            </div>
            <div class="footer-widget">
                <div class="footer-widget-heading">
                    <h3>Our Pages</h3>
                </div>
                <ul class="centered-list">
                    <li>
                        <a (click)="navigate('')">Mendaftar</a>
                      </li>
                      <li>
                        <a (click)="navigate('undangan_website')">Undangan website</a>
                      </li>
                      <li>
                        <a (click)="navigate('undangan_video')">Undangan video</a>
                      </li>
                </ul>
            </div>
            <div class="footer-widget">
                <div class="footer-widget-heading">
                    <h3>Informasi</h3>
                </div>
                <div class="footer-text">
                    <p><i class="fas fa-phone"></i>&nbsp;{{' Phone: 628193203030758'}}</p>
                    <p><i class="far fa-envelope"></i>&nbsp;{{' Email: Zayyin.alfar1@gmail.com'}}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
