<div class="cinema-gallery" *ngIf="hasImages(); else noGalleryTemplate">

  <div class="cinema-track"
       [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">

    <div class="cinema-slide"
         *ngFor="let item of getGalleryImages(); let i = index; trackBy: trackByGalleryId">

      <img [src]="getImageUrl(item)"
           [alt]="getImageAlt(item, i)"
           loading="lazy" />

    </div>

  </div>

</div>

<ng-template #noGalleryTemplate>
  <div class="cinema-gallery">
    <div class="cinema-slide">
      <img src="assets/default-gallery.jpg" />
    </div>
  </div>
</ng-template>
