<section class="akad-section">

  <div class="akad-wrapper">

    <!-- IMAGE TOP -->
    <div class="akad-image" *ngIf="galleryImages?.length">
      <img [src]="galleryImages[0]" alt="Akad Image">
    </div>

    <!-- CARD BOTTOM -->
    <div class="akad-card">

      <div class="akad-left">
        <span>Akad Nikah</span>
      </div>

      <div class="akad-right">

    <ng-template #noAkad>
  <div class="akad-day">
    Tanggal akan diumumkan
  </div>
</ng-template>

        <div class="akad-date-number">
         {{ getFormattedTime() }}
        </div>



        <div class="akad-time">
          {{ getFormattedTime() }}
        </div>

        <div class="akad-location">
          <strong>{{ getLocation() }}</strong>
        </div>

        <button class="maps-btn"
                *ngIf="getMapsLink()"
                (click)="openMapsLocation()">
          Google Maps
        </button>

      </div>

    </div>

  </div>

</section>
