<body>
  <div class="container py-5">
    <div class="row justify-content-start">
      <div class="col-12 col-md-8 col-lg-12">

        <form [formGroup]="form">

          <!-- Base URL -->
          <div class="col-sm-3 col-md-8 col-lg-12 mb-3">
            <label class="form-label">URL Dasar Undangan *</label>
            <input
              type="text"
              class="form-control"
              formControlName="baseUrl"
              placeholder="contoh: https://domain.com/wedding/nova-yusril"
            />
          </div>

          <!-- List nama tamu -->
          <div class="col-sm-3 col-md-8 col-lg-12 mb-3">
            <label class="form-label">List Nama Tamu *</label>
            <textarea
              class="form-control"
              rows="4"
              formControlName="names"
              placeholder="Gunakan ENTER untuk nama baru, gunakan & untuk pasangan"
            ></textarea>
          </div>

          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary mt-4 mb-4" (click)="generateGuests()">
              Buat Daftar Nama Tamu
            </button>
          </div>

        </form>

        <!-- Table guests -->
        <div *ngIf="guests.length > 0" class="table-responsive">

          <table class="table table-bordered align-middle">
            <thead class="table-light">
              <tr>
                <th>Nama Tamu</th>
                <th class="text-center">Pilihan</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let g of guests; let i = index">
                <td>{{ g.name }}</td>
                <td class="text-center">
                  <div class="d-flex gap-2 justify-content-center flex-wrap">

                    <button class="btn btn-success btn-sm"
                      (click)="whatsapp(g.link, g.message)">
                      WA
                    </button>

                    <button class="btn btn-info btn-sm"
                      (click)="copy(g.message, false)">
                      Copy Pesan
                    </button>

                    <button class="btn btn-secondary btn-sm"
                      (click)="copy(g.link, false)">
                      Copy Link
                    </button>

                    <button class="btn btn-danger btn-sm"
                      (click)="deleteGuest(i)">
                      Hapus
                    </button>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <button class="btn btn-outline-danger mt-3" (click)="deleteAll()">
            Hapus Semua Daftar
          </button>

        </div>

      </div>
    </div>
  </div>
</body>