<body>
  <div class="container">
    <div class="title-container">
      <h2>
        <strong>
          Undangan
        </strong>
        <span>
          Website
        </span>
      </h2>
      <div class="underline-container">
        <hr />
        <div class="heart">
          <i class="fas fa-heart">
          </i>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 row-gap-4">
      <div class="col">
        <div class="card card-custom">
          <img alt="Three modern smartphones showing wedding invitation app screens on a light gray background"
            height="280" src="/assets/modern.svg"
            width="400" />
          <div class="star-rating">
            <i class="fas fa-star">
            </i>
            4
          </div>
          <div class="label-bottom-left" style="width: 120px;">
            Elegant
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-custom">
          <img alt="Three modern smartphones showing wedding invitation app screens on a light gray background"
            height="280" src="/assets/modern.svg"
            width="400" />
          <div class="star-rating">
            <i class="fas fa-star">
            </i>
            5
          </div>
          <div class="label-bottom-left" style="width: 120px;">
            Modern
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-custom">
          <img alt="Three modern smartphones showing wedding invitation app screens on a light gray background"
            height="280" src="/assets/modern.svg"
            width="400" />
          <div class="star-rating">
            <i class="fas fa-star">
            </i>
            4
          </div>
          <div class="label-bottom-left ellipsis" style="width: 120px;">
            ...
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-custom" style="background:#d9cec9;">
          <img alt="Three modern smartphones showing wedding invitation app screens on a light beige background"
            height="280" src="/assets/modern.svg"
            width="400" />
          <div class="star-rating">
            <i class="fas fa-star">
            </i>
            5
          </div>
          <div class="label-bottom-left label-purple" style="width: 102px;">
            Minimal
            <!-- <span>
              ist
            </span> -->
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-custom" style="background:#d9cec9;">
          <img
            alt="Three modern smartphones showing pink themed wedding invitation app screens on a light beige background"
            height="280" src="/assets/modern.svg"
            width="400" />
          <div class="star-rating">
            <i class="fas fa-star">
            </i>
            5
          </div>
          <div class="label-bottom-left label-purple" style="width: 90px;">
            Pinky
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-custom" style="background:#d9cec9;">
          <img
            alt="Three modern smartphones showing blue themed wedding invitation app screens on a light beige background"
            height="280" src="/assets/modern.svg"
            width="400" />
          <div class="star-rating">
            <i class="fas fa-star">
            </i>
            5
          </div>
          <div class="label-bottom-left label-purple" style="width: 90px;">
            Blue
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
